html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.container-fluid .collapse ul li a{
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.imgContainer{
  position: relative;
  display: inline-block;
}

/* .tampilkan-diskon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: red;
} */

#pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

#pagination #pagination-kiri {
  height: 40px;
  width: 35px;
  margin-right: 10px;
  border: solid 2px black;
  border-radius: 5px;
  cursor: pointer;
}

#pagination #pagination-kiri img {
  height: 100%;
  width: 100%;
}

#pagination #pagination-kanan {
  height: 40px;
  width: 35px;
  margin-right: 10px;
  border: solid 2px black;
  border-radius: 5px;
  cursor: pointer;
}

#pagination #pagination-kanan img {
  height: 100%;
  width: 100%;
}

#no-kanan, #no-tengah, #no-kiri {
  height: 40px;
  width: 35px;
  border: solid 2px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}