html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.container-fluid .collapse ul li a{
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.imgContainer{
  position: relative;
  display: inline-block;
}

/* .tampilkan-diskon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: red;
} */